Machine learning repository:
http://archive.ics.uci.edu/ml/index.php

# Loading data from CSV file

## 1: Python CSV reader

https://docs.python.org/2/library/csv.html?__s=dtjiipvi7ms75zjfkldc

In [11]:
import csv
pid,phonetype=[],[]
dir='/Users/ekargian/Documents/Programming/ML/Projects/LoadCSV/BarCrawl_dataset/data'
with open(dir+'/phone_types.csv', 'rb') as f:
    reader = csv.reader(f)
    for row in reader:
        print row
        if row[0]!='pid':##skip title line
            pid.append(row[0])
            phonetype.append(row[1])
            print pid[-1],phonetype[-1]

['pid', 'phonetype']
['BK7610', 'iPhone']
BK7610 iPhone
['BU4707', 'iPhone']
BU4707 iPhone
['CC6740', 'Android']
CC6740 Android
['DC6359', 'iPhone']
DC6359 iPhone
['DK3500', 'iPhone']
DK3500 iPhone
['HV0618', 'iPhone']
HV0618 iPhone
['JB3156', 'Android']
JB3156 Android
['JR8022', 'iPhone']
JR8022 iPhone
['MC7070', 'iPhone']
MC7070 iPhone
['MJ8002', 'iPhone']
MJ8002 iPhone
['PC6771', 'iPhone']
PC6771 iPhone
['SA0297', 'iPhone']
SA0297 iPhone
['SF3079', 'iPhone']
SF3079 iPhone

## 2: pandas read_csv

In [21]:
# Load CSV using Pandas from file
import pandas as pd
names=['time','pid','x','y','z']
acc_data=pd.read_csv(dir+'/all_accelerometer_data_pids_13.csv',names=names)
print acc_data.shape
acc_data.head()

(14057568, 5)

            time     pid        x       y        z
0           time     pid        x       y        z
1              0  JB3156      0.0     0.0      0.0
2              0  CC6740      0.0     0.0      0.0
3  1493733882409  SA0297   0.0758  0.0273  -0.0102
4  1493733882455  SA0297  -0.0359  0.0794   0.0037

In [28]:
## examine df
acc_data.tail()

                   time     pid      locx      locy       locz
14057563  1493829248196  CC6740 -0.133956  0.124726  -0.010736
14057564  1493829248220  CC6740 -0.100764  0.180872  0.0464487
14057565  1493829248245  CC6740 -0.131853  0.195934   0.181088
14057566  1493829248270  CC6740 -0.149704  0.194482   0.202393
14057567  1493829248294  CC6740 -0.107288  0.153548   0.168595

In [31]:
## rename columns
acc_data.columns=['time','pid','locx','locy','locz']
len(acc_data)

14057568

In [34]:
## data types
acc_data.dtypes

time    object
pid     object
locx    object
locy    object
locz    object
dtype: object

In [41]:
non_numeric_time = acc_data.time.str.contains('[^0-9.-]')
non_numeric_time

0            True
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29          False
            ...
14057538      NaN
14057539      NaN
14057540      NaN
14057541      NaN
14057542      NaN
14057543      NaN
14057544      NaN
14057545      NaN
14057546      NaN
14057547      NaN
14057548      NaN
14057549      NaN
14057550      NaN
14057551      NaN
14057552      NaN
14057553      NaN
14057554      NaN
14057555      NaN
14057556      NaN
14057557      NaN
14057558      NaN
14057559      NaN
14057560      NaN
14057561      NaN
14057562      NaN
14057563      NaN
14057564      NaN
14057565      NaN
14057566      NaN
14057567      NaN
Name: time, Length: 14057568, dtype: object

In [20]:
# Load CSV using Pandas from URL
url = "https://goo.gl/bDdBiA"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(url, names=names)
print(data.shape)
print data

(768, 9)
     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
5       5   116    74     0     0  25.6  0.201   30      0
6       3    78    50    32    88  31.0  0.248   26      1
7      10   115     0     0     0  35.3  0.134   29      0
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
10      4   110    92     0     0  37.6  0.191   30      0
11     10   168    74     0     0  38.0  0.537   34      1
12     10   139    80     0     0  27.1  1.441   57      0
13      1   189    60    23   846  30.1  0.398   59      1
14      5   166    72    19   175  25.8  0.587   51      1
15      7   100     0     0     0  30.0  0.484   32      1
16      0   118    84    47   230  45.8  0.551   31      1
17      7   107    74     0     0  29.6  0.254   31      1
18      1   103    30    38    83  43.3  0.183   33      0
19      1   115    70    30    96  34.6  0.529   32      1
20      3   126    88    41   235  39.3  0.704   27      0
21      8    99    84     0     0  35.4  0.388   50      0
22      7   196    90     0     0  39.8  0.451   41      1
23      9   119    80    35     0  29.0  0.263   29      1
24     11   143    94    33   146  36.6  0.254   51      1
25     10   125    70    26   115  31.1  0.205   41      1
26      7   147    76     0     0  39.4  0.257   43      1
27      1    97    66    15   140  23.2  0.487   22      0
28     13   145    82    19   110  22.2  0.245   57      0
29      5   117    92     0     0  34.1  0.337   38      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
738     2    99    60    17   160  36.6  0.453   21      0
739     1   102    74     0     0  39.5  0.293   42      1
740    11   120    80    37   150  42.3  0.785   48      1
741     3   102    44    20    94  30.8  0.400   26      0
742     1   109    58    18   116  28.5  0.219   22      0
743     9   140    94     0     0  32.7  0.734   45      1
744    13   153    88    37   140  40.6  1.174   39      0
745    12   100    84    33   105  30.0  0.488   46      0
746     1   147    94    41     0  49.3  0.358   27      1
747     1    81    74    41    57  46.3  1.096   32      0
748     3   187    70    22   200  36.4  0.408   36      1
749     6   162    62     0     0  24.3  0.178   50      1
750     4   136    70     0     0  31.2  1.182   22      1
751     1   121    78    39    74  39.0  0.261   28      0
752     3   108    62    24     0  26.0  0.223   25      0
753     0   181    88    44   510  43.3  0.222   26      1
754     8   154    78    32     0  32.4  0.443   45      1
755     1   128    88    39   110  36.5  1.057   37      1
756     7   137    90    41     0  32.0  0.391   39      0
757     0   123    72     0     0  36.3  0.258   52      1
758     1   106    76     0     0  37.5  0.197   26      0
759     6   190    92     0     0  35.5  0.278   66      1
760     2    88    58    26    16  28.4  0.766   22      0
761     9   170    74    31     0  44.0  0.403   43      1
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]